* {
    box-sizing: border-box;
}

h1 {
    display: flex;
    color: rgb(65, 65, 65);
    font-family: Libre Baskerville;
    font-weight: 100;
    justify-content: center;
}

section {
    border: thin;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

article {
    border: solid;
}

.article-image {
    width: 40%;
    padding: 2rem;
}

.site-name {
    flex-direction: row;
    justify-content: center;
    padding: 2rem 2rem;
    font-size: 60px;
    font-weight: 100;
    color: rgb(44, 44, 44);
}

.article-title-name {
    font-size: 25px;
    padding: 10px 10px;
    justify-content: center;
}

.flex-container {
    display: flex;
}

.article-paragraph {
    padding: 15px;
    margin: 10px;
}

.article-twenty-five {
    width: 25%;
}

.article-fifteen {
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.subjects {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.space-subjects {
    width: 75%;
}