h1 {
    display: flex;
    color: rgb(65, 65, 65);
    font-family: Libre Baskerville;
    font-weight: 100;
    justify-content: center;
}

section {
    border: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

article {
    border: solid;
}

.site-name {
    flex-direction: row;
    justify-content: center;
    padding: 2rem 2rem;
    font-size: 60px;
    font-weight: 100;
    color: rgb(44, 44, 44);
}

.article-title-name {
    font-size: 25px;
    padding: 10px 10px;
}

.flex-container {
    display: flex;
}

.article-paragraph {
    padding: 12px;
}

.article-twenty-five {
    width: 25%;
}

.article-fifteen {
    width: 50%;
}